table {

width:100%;

border-collapse:collapse;

}


th {

background:hsl(212,68%,33%);

color:white;

padding:12px;

}


td {

padding:12px;

border-bottom:1px solid #ddd;

}


tr:nth-child(even){

background:hsl(210,30%,96%);

}